.left-col{
    padding-left: 100px;
}
.Main{
    height: 100vh;
    /* padding: 100px;      */
    /* position: relative; */
    overflow-y:scroll;
    /* justify-content: center; */
}

.one{
    background-color:black;
}
.two{
    background-color:black;
}
.container-fluid{
    font-size:100px;
}


